/* Give your page a fun background color */
body {
    background-color: blue;
  }
  /* Make the header and footer a different color from the background */
  
  header{
    background-color: whitesmoke;
  }
  
  footer {
    background-color: gold;
  }
  
  /* Align the h1 containing your name in the center of the header*/
  .header{
    text-align: center;
  }
  /* Make your p tag a different color and italic */
  p {
    font-style: italic;
    color: #4c00ff;
  }
  /* Put a border around your image */
  
  .Bigphoto {
    width: 75%;
    border: 10px solid rgba(0, 0, 0, 0.26);
  }
  /* Change the font-family of your list */
  .list{
    font-family: cursive;
  }